.DS_Store
.env
__pycache__
*.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
/node_modules

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
